.box1,
.box4,
.box5 {
  background-color: aqua;
}
.box2,
.box3 {
  background-color: blue;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: yellow;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 200px 50px;
  grid-template-rows: 50px 100px 200px;
  /* align-content: start;
  align-content: end;
  align-content: space-around;
  align-content: space-between;
  align-content: space-evenly; */
  justify-content: start;
  justify-content: end;
  justify-content: center;
  justify-content: space-evenly;
  justify-content: space-between;
  justify-content: space-around;
}
