.pic1 {
  width: 200px;
  float: left;
}
.pic2 {
  width: 200px;
  float: right;
}
p:last-child {
  clear: both;
}
/* Khi sử dụng thuộc tính float: left
img bị trôi khỏi luồng bình thường, các phần tử còn lại sẽ bao quanh ptu img
Trong trường không bị ảnh hưởng
clear: left/right/both */
