/* content-box và border-box */
/* content-box: trình biên dịch sẽ tự động fix kích thước phần tử khi nhập w, h */
/* border-box: trình biên dịch sẽ cố định kích thước của phần tử khi nhập w,h  */
.box
{
    width: 100px;
    height: 150px;
    padding: 5px;
    border: 10px solid red;
}

.box1
{
    box-sizing: content-box;
}
.box2
{
    width: 160px;
    height: 210px;
    padding: 5px;
    box-sizing: border-box;
}