/* flex: là viết tắt của flex-grow, flex-shirk, flex-basic */
/* độ ưu tiên
1. content width
2. width
3. flex-basis
4. min-width, max-width */
.container {
  display: flex;
}
.box {
  flex-basis: 200px;
  /* width: 100px; */
  /* max-width: 100px;
  min-width: 200px; */
  /* nếu max-width < flex-basis -> max-width
   nếu max-width > flex-basis -> flex-basis */
  /* dãn */
  flex-grow: 0;
  /* độ co*/
  flex-shrink: 1;
  /* set main size */
  flex-basis: 100px;
  /* flex: 1 1 100px; */
  flex: 1;
}
.box1 {
  background-color: cyan;
}
.box2 {
  background-color: red;
  order: 1;
}
.box3 {
  background-color: blue;
  order: 2;
}
.box4 {
  background-color: green;
}
