.blog {
  background-color: cyan;
}
/* 1. min(<value-list>) 
chọn giá trị nhỏ nhất (âm nhất) từ danh sách các biểu thức được phân tách */
/* .blog {
  width: min(800px, 100%);
} */
/* 2. max(<value-list>)
Chọn giá trị lớn nhất (dương nhất) từ danh sách từ các biểu thức được phân tách 
 */
/* .blog {
  width: max(800px, 100%);
} */
/* 3. clamp(<min>, <ideal>, <max>):
Kẹp một giá trị giữa giới hạn trên và dưới hạn dưới, dựa trên giá trị lý tưởng đã đặt */
.blog {
  width: clamp(300px, 100%, 1170px);
  font-size: clamp(18px, 2vw, 24px);
}
